Repository kyma-project/community, pull requests merged in 2019-10, with the labels that each got.

#371 Update guideline for toggles with description of new functionality
  guidelines/content-guidelines/03-documentation-toggle.md
  guidelines/content-guidelines/assets/toggle-groups.png
Labels: area/community, area/documentation, enhancement

#373 Update content strategy and add a template for metrics docs type
  guidelines/content-guidelines/01-content-strategy.md
  guidelines/templates/resources/configuration.md
  guidelines/templates/resources/metrics.md
Labels: area/documentation

#378 Add info on formatting file formats and extensions
  guidelines/content-guidelines/04-formatting.md
  guidelines/content-guidelines/08-style-and-terminology.md
Labels: area/documentation

#374 Create guideline about render specifications on website
  .kyma-project-io/labels.yaml
  guidelines/content-guidelines/05-links-in-docs.md
  guidelines/content-guidelines/09-add-documentation-topic.md
Labels: area/community, area/core-and-supporting, area/documentation

#380 Add a formatting fix
  guidelines/content-guidelines/09-add-documentation-topic.md
Labels: area/community, area/documentation

#381 Add formatting fixed to the doc on creating new topic
  guidelines/content-guidelines/09-add-documentation-topic.md
Labels: area/community, area/documentation

#382 Add more doc-related formatting fixes
  guidelines/content-guidelines/09-add-documentation-topic.md
Labels: area/documentation

#384 Remove indents to fix doc rendering
  guidelines/content-guidelines/09-add-documentation-topic.md
Labels: area/documentation

#387 Add missing period
  guidelines/content-guidelines/09-add-documentation-topic.md
Labels: area/documentation

#388 Add a blank line
  guidelines/content-guidelines/09-add-documentation-topic.md
Labels: area/documentation

#389 Update the metrics template
  guidelines/templates/resources/metrics.md
Labels: area/documentation

#357 Proposal for upgrade API versions of K8s resources
  collaboration/sig-core/proposals/upgrade-apiversion-of-k8s-resources.md
Labels: area/cluster, area/installation, decision, enhancement, sig/core

#395 Fix a dead link
  guidelines/templates/resources/release-notes.md
Labels: area/documentation, bug

#385 Prepare preview of community repo on kyma-project.io
  .kyma-project-io/build-preview.sh
  CODEOWNERS
  guidelines/content-guidelines/.DS_Store
Labels: WIP, area/community, area/core-and-supporting, enhancement

#398 Fix script for preview kyma-project.io
  .kyma-project-io/build-preview.sh
Labels: area/community, area/core-and-supporting, bug
